body{
background:lightblue;
font-family:Arial;
}

.signup-box{
width:400px;
margin:auto;
margin-top:40px;
background:white;
padding:25px;
border-radius:12px;
}

h2{
text-align:center;
}

label{
font-weight:bold;
}

input{
width:100%;
padding:10px;
margin-top:5px;
margin-bottom:12px;
}

input[type=submit]{
background:green;
color:white;
border:none;
}

p{
text-align:center;
}